
<div id='sketchy-app'
     data-sketch-title='<%= @sketch.title %>'
     data-sketch-id='<%= @sketch.id %>'
     data-sketch-image='<%= @sketch.image.to_data_url %>'
     data-sketch-path='<%= sketch_path(@sketch) %>'>
  <h1>
    <%= link_to '&larr;'.html_safe, sketches_path() %>
    <span data-bind='editableText: sketchTitle'
           contenteditable='true'></span>
  </h1>

  <table class='color-picker'>
    <tr>
      <td class='red'     data-bind='click: setColor'></td>
      <td class='orange'  data-bind='click: setColor'></td>
      <td class='yellow'  data-bind='click: setColor'></td>
      <td class='green'   data-bind='click: setColor'></td>
      <td class='blue'    data-bind='click: setColor'></td>
      <td class='black'   data-bind='click: setColor'></td>
      <td class='white'   data-bind='click: setColor'></td>
      <td class='save'>
        <button data-bind='click: save'class='btn btn-primary'>Save</button>
      </td>
    </tr>
  </table>
  <form class='sketch-controls form-inline'>
    
  </form>

  <div class='canvas-container'>
    <canvas id='canvas'
            width='940'
            height='480'></canvas>
  </div>
</div>