<!DOCTYPE html>
<html>
<head>
  <title>Sketchy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='container'>
  <%= yield %>
</div>

<%= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/knockout/2.3.0/knockout-min.js" %>
<%= javascript_include_tag "application" %>

</body>
</html>
